/* body {
    box-sizing: border-box;
    background-color: #ffffff;


}

a {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

.d-none {
    display: none;
    transition: all .25s ease;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
} */

.navbar-wrapper {
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: .5px solid #242424;
}

.navbar-wrapper ul {
    border-bottom: .5px solid #242424;

}

.navbar-wrapper ul li {
    margin-bottom: 10px;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.navbar-wrapper ul li button {
    border: none;
    outline: none;
    background: none;
    background-color: none;
}

.navbar-wrapper ul li:hover {
    background-color: #eee;
}

.main-wrapper {
    margin-top: 25px;
}

.writers {
    margin-bottom: 10px;
}

.writers ul li {
    display: block;

}

article {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: #eee; */
    height: 250px;
    /* border-radius: 10px; */
    padding-top: 10px;
    border-bottom: 1px solid #eee;
}

article h6 {
    margin-top: 10px;
}

article img {
    height: 200px;
    /* width: 400px; */
    border-radius: 5px;
}

article a {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}